# 📁 Системные файлы
.DS_Store
Thumbs.db

# 📁 Логи
*.log

# 📁 Временные файлы
*.tmp
*.swp

# 📁 Папки зависимостей
node_modules/
venv/
.env/

# 📁 Сборка / билд
dist/
build/

# 📁 IDE / редакторы
.vscode/
.idea/

# 📁 Конфиденциальные данные
.env
*.env 